################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HarrierBookStoreDotNetCore/.vs/HarrierBookStoreDotNetCore
/HarrierBookStoreDotNetCore/HarrierBookStoreDotNetCore/obj
